<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605202503842-hu1215hn29rl1o2v4480d13rolu527m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605202503842-hu1215hn29rl1o2v4480d13rolu527m9</string>
	<key>API_KEY</key>
	<string>AIzaSyDiU1NWLn-_kfEY0S-KNTYg0QFHFLFDcqU</string>
	<key>GCM_SENDER_ID</key>
	<string>605202503842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakibulanam.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-afb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-afb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605202503842:ios:8359d954ca045c67f15ffb</string>
</dict>
</plist>